{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!
{% endblock %}

{% block body %}
	<style>
		body,
		html {
			height: 100%;
		}

		.bg {
			/* The image used */
			background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20(42).webp');
			/* Full height */
			height: 100%;
			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

		}
	</style>
	<div class="bg">
		<div class="view jarallax" data-jarallax='{"speed": 0.2}'>
			<div class=" full-bg-img mask rgba-black-light">
				<div class="container flex-center">
					<div class="row pt-5 mt-3 w-100">
						<div class="col-md-12">
							<div class="text-center">
								<h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
									<strong>FileUp</strong>
								</h2>
								<hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
								<h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
									{% if is_granted('ROLE_BLOCKED') %}
										<strong>Vous êtes bloqué.e !</strong>
									{% else %}
										<strong>Upload and Share</strong>
									{% endif %}
								</h5>
								{% if is_granted('ROLE_BLOCKED') %}
									<h7>Vous avez été bloqué suite à un non-respect de nos règles d'utilisation pour une durée inderterminer.</h7>
									<h7>
										Contactez les administrateurs pour d'autres renseignements ou demandes.</h7><br><br>
									<a href="{{path('app_contact')}}" class="btn btn-outline-primary">Contact</a>
									<a class="btn btn-outline-primary" href="{{ path('app_logout') }}">Se déconnecter</a>

								{% else %}
									{% if app.user %}

										<h7>Commencez à Upload dès maintenant !</h7><br><br>
										<a href="{{path('app_upload')}}" class="btn btn-outline-primary">Upload</a>

									{% else %}
										<h7>Inscrivez vous ou connectez vous dès maintenant pour Uploader et partager tous vos fichiers</h7><br><br>
										<a href="{{path('app_login')}}" class="btn btn-outline-primary">Login</a>
										<a href="{{path('app_register')}}" class=" btn btn-outline-primary">Register</a>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
