{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!
{% endblock %}

{% block body %}
	<style>
		body,
		html {
			height: 100%;
		}

		.bg {
			/* The image used */

			/* Full height */
			height: 100%;
			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
	{% if homepageinfo.logo == "" %}
		<div class="bg" style="background-image:url('{{asset('uploads/background/basebackground.png')}}');">
		{% else %}
			<div class="bg" style="background-image:url('{{asset( 'uploads/background/'~homepageinfo.logo~'' ) }}');">
			{% endif %}

			<div class=" view jarallax" data-jarallax='{" speed": 0.2}'>
				<div class=" full-bg-img mask rgba-black-light">
					<div class="container flex-center">
						<div class="row pt-5 mt-3 w-100">
							<div class="col-md-12">
								<div class="text-center">
									<h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
										{% if homepageinfo.title == "" %}
											<strong>FileUp</strong>
										{% else %}
											<strong>{{ homepageinfo.title }}</strong>
										{% endif %}


									</h2>
									<hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
									<h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
										{% if is_granted('ROLE_BLOCKED') %}
											<strong>Vous êtes bloqué.e !</strong>
										{% else %}
											<strong>Upload and Share</strong>
										{% endif %}
									</h5>
									{% if is_granted('ROLE_BLOCKED') %}
										<h7>Vous avez été bloqué suite à un non-respect de nos règles d'utilisation pour une durée inderterminer.</h7>
										<h7>
											Contactez les administrateurs pour d'autres renseignements ou demandes.</h7><br><br>
										<a href="{{path('app_contact')}}" class="btn btn-outline-primary">Contact</a>
										<a class="btn btn-outline-primary" href="{{ path('app_logout') }}">Se déconnecter</a>

									{% else %}
										{% if app.user %}
											{% if homepageinfo.textOnHome == "" %}
												<h7>Commencez a Upload dès maintenant</h7><br><br>
											{% else %}
												<h7>{{ homepageinfo.textOnHome }}</h7><br><br>
											{% endif %}
											<a href="{{path('upload')}}" class="btn btn-outline-primary">Upload</a>

										{% else %}
											<h7>Inscrivez vous ou connectez vous dès maintenant pour Uploader et partager tous vos fichiers</h7><br><br>
											<a href="{{path('app_login')}}" class="btn btn-outline-primary">Login</a>
											<a href="{{path('app_register')}}" class=" btn btn-outline-primary">Register</a>
										{% endif %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
